<nav class="relative bg-green-300 border-b-2 border-gray-300 text-gray-900 style-stuff">
  <div class="container mx-auto flex justify-between">
    <div class="relative block p-4 lg:p-6 text-xl text-blue-600 font-bold">Logo</div>
    <ul class="flex">
      <li>
        <div class="menu">
          <a href="/products">Products</a>
          <div class="blahblahrow rowc rowc1">Item 1</div>
          <div class="blahblahrow rowc rowc2">Item 2</div>
          <div class="blahblahrow rowc rowc3">Item 3</div>
          <div class="blahblahrow rowc rowc4">Item 4</div>
          <div class="blahblahrow rowc rowc5">Item 5</div>
          <div class="blahblahrow rowc rowc6">Item 6</div>
        </div>
      </li>
      <li>
        <div class="menu">
          <a href="/locations">Locations</a>
          <div class="blahblahrow rowc rowc1">Item 1</div>
          <div class="blahblahrow rowc rowc2">Item 2</div>
          <div class="blahblahrow rowc rowc3">Item 3</div>
          <div class="blahblahrow rowc rowc4">Item 4</div>
          <div class="blahblahrow rowc rowc5">Item 5</div>
          <div class="blahblahrow rowc rowc6">Item 6</div>
        </div>
      </li>
      <li>
        <div class="menu">
          <a href="/careers">Careers</a>
          <div class="blahblahrow rowc rowc1">Item 1</div>
          <div class="blahblahrow rowc rowc2">Item 2</div>
          <div class="blahblahrow rowc rowc3">Item 3</div>
          <div class="blahblahrow rowc rowc4">Item 4</div>
          <div class="blahblahrow rowc rowc5">Item 5</div>
          <div class="blahblahrow rowc rowc6">Item 6</div>
        </div>
      </li>
    </ul>
  </div>
</nav>