<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <!--====== Title ======-->
    <title>Armadillo Materials</title>

    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--====== Favicon Icon ======-->
    <link rel="shortcut icon" href="/images/favicon.png" type="image/png">

    <!--====== Animate CSS ======-->
    <link rel="stylesheet" href="/stylesheets/animate.css">

    <!--====== Slick CSS ======-->
    <link rel="stylesheet" href="/stylesheets/tiny-slider.css">

    <!--====== Line Icons CSS ======-->
    <link rel="stylesheet" href="/fonts/lineicons/font-css/LineIcons.css">

    <!--====== Tailwind CSS ======-->
    <link rel="stylesheet" href="/stylesheets/tailwindcss.css">

    <!-- Style CSS -->
    <link rel="stylesheet" href="/stylesheets/style.css">

    <!--====== Login CSS ======-->
    <link href="/stylesheets/login.css" rel="stylesheet" href="">

    <!--====== Dashboard CSS ======-->
    <link href="/stylesheets/dashboard.css" rel="stylesheet" href="">


</head>
<body>

    {{!-- {{{ preloader }}} --}}

    {{{ body }}}


    {{> contact }}


    {{> footer }}

    {{> contact }}


<!--====== Tiny Slider js ======-->
    <script src="/js/tiny-slider.js"></script>

<!--====== Wow js ======-->
    <script src="/js/wow.min.js"></script>

<!--====== Main js ======-->
    <script src="/js/main.js"></script>
</body>
</html>

