<div class="area"></div>
    <nav class="main-menu">
        <ul>
            <li>
                <a href="#">
                    <i class="fa fa-home fa-2x"></i>
                    <span class="nav-text">
                        Dashboard
                    </span>
                </a>
            </li>
        </ul>
        <ul class="logout">
            <li>
                <a href="#" id = 'logout'>
                    <i class="fa fa-power-off fa-2x"></i>
                    <span class="nav-text">
                        Logout
                    </span>
                </a>
            </li>
        </ul>
    </nav>
</div>
<section>
    <ol>
        {{#each resources as |resource| }}
        <p>
            {{name}}<br/>
            {{description}}<br/>
            {{link}}<br/>
        </p>
        {{/each}}
    </ol>
</section>


<script src = '/js/log-out.js'></script>
