<div
  style="min-height: 300vh;"
  class="relative flex flex-col px-4 pt-24 pb-12 font-sans text-gray-700 bg-gray-200 sm:px-6 lg:px-8"
>
  <div class="flex-1 space-y-8">
    <div
      style="top: calc(1rem * 1);"
      class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg"
    >
      <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
        <span class="block text-sm text-blue-700">Project #1 </span
        ><span class="block">Title of the Project</span>
      </h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum,
        perspiciatis blanditiis accusamus commodi consectetur id tempora rem
        iure eligendi quos eos et autem ratione exercitationem earum laborum ad
        a sequi!
      </p>
    </div>
    <div
      style="top: calc(1rem * 2);"
      class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg"
    >
      <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
        <span class="block text-sm text-blue-700">Project #2 </span
        ><span class="block">Title of the Project</span>
      </h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum,
        perspiciatis blanditiis accusamus commodi consectetur id tempora rem
        iure eligendi quos eos et autem ratione exercitationem earum laborum ad
        a sequi!
      </p>
    </div>
    <div
      style="top: calc(1rem * 3);"
      class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg"
    >
      <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
        <span class="block text-sm text-blue-700">Project #3 </span
        ><span class="block">Title of the Project</span>
      </h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum,
        perspiciatis blanditiis accusamus commodi consectetur id tempora rem
        iure eligendi quos eos et autem ratione exercitationem earum laborum ad
        a sequi!
      </p>
    </div>
    <div
      style="top: calc(1rem * 4);"
      class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg"
    >
      <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
        <span class="block text-sm text-blue-700">Project #4 </span
        ><span class="block">Title of the Project</span>
      </h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum,
        perspiciatis blanditiis accusamus commodi consectetur id tempora rem
        iure eligendi quos eos et autem ratione exercitationem earum laborum ad
        a sequi!
      </p>
    </div>
    <div
      style="top: calc(1rem * 5);"
      class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg"
    >
      <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
        <span class="block text-sm text-blue-700">Project #5 </span
        ><span class="block">Title of the Project</span>
      </h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum,
        perspiciatis blanditiis accusamus commodi consectetur id tempora rem
        iure eligendi quos eos et autem ratione exercitationem earum laborum ad
        a sequi!
      </p>
    </div>
    <div
      style="top: calc(1rem * 6);"
      class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg"
    >
      <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
        <span class="block text-sm text-blue-700">Project #6 </span
        ><span class="block">Title of the Project</span>
      </h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum,
        perspiciatis blanditiis accusamus commodi consectetur id tempora rem
        iure eligendi quos eos et autem ratione exercitationem earum laborum ad
        a sequi!
      </p>
    </div>
    <div
      style="top: calc(1rem * 7);"
      class="sticky w-full max-w-xl px-8 py-12 mx-auto space-y-4 bg-white border rounded-lg shadow-lg"
    >
      <h2 class="space-y-1 text-2xl font-bold leading-none text-gray-900">
        <span class="block text-sm text-blue-700">Project #7 </span
        ><span class="block">Title of the Project</span>
      </h2>
      <p>
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Harum,
        perspiciatis blanditiis accusamus commodi consectetur id tempora rem
        iure eligendi quos eos et autem ratione exercitationem earum laborum ad
        a sequi!
      </p>
    </div>
  </div>
</div>
